
/Scanned Page Sorter/.vs/Scanned Page Sorter/CopilotIndices
/Scanned Page Sorter/.vs/Scanned Page Sorter/FileContentIndex
/Scanned Page Sorter/packages
/Scanned Page Sorter/bin
/Scanned Page Sorter/.vs/Scanned Page Sorter/copilot-chat
/Scanned Page Sorter/images
/Scanned Page Sorter/bin
/Scanned Page Sorter/obj
/Scanned Page Sorter/publish
