<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
		<appSettings>
			<add key="SplitterPanelLayout" value="VerticalThumbs" />
			<add key="mainSplitContainerThumbnails" value="0.5" />
			<add key="inSplitContainerThumbnails" value="0.75" />
			<add key="outSplitContainerThumbnails" value="0.25" />
			<add key="mainSplitContainerHorizontalThumbs" value="0.5" />
			<add key="inSplitContainerHorizontalThumbs" value="0.35" />
			<add key="outSplitContainerHorizontalThumbs" value="0.15" />
			<add key="mainSplitContainerVerticalThumbs" value="0.5" />
			<add key="inSplitContainerVerticalThumbs" value="0.35" />
			<add key="outSplitContainerVerticalThumbs" value="0.15" />
			<add key="mainSplitContainerHorizontal" value="0.5" />
			<add key="inSplitContainerHorizontal" value="0.35" />
			<add key="outSplitContainerHorizontal" value="0.15" />
			<add key="mainSplitContainerVertical" value="0.5" />
			<add key="inSplitContainerVertical" value="0.35" />
			<add key="outSplitContainerVertical" value="0.15" />
		</appSettings>
</configuration>